$blue: #3BB9EB;
$animationLink: desaturate(rgb(148, 223, 74), 40%);
$green: #6FB62A;
$pink: #C53C8E;
$yellow: #FFFDCF;

$animate: all 0.2s ease-in-out;

@mixin links {
  color: $green;
  font-size: initial;
  text-decoration: none;
}
